
<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms: Registration Form</h1>
            <ul class="nav nav-tabs">
                <li role="presentation" ><a href="forms.view.html">Forms</a></li>
                <li role="presentation" class="active"><a href="form-fields.view.html">Fields</a></li>
            </ul>
            <br>

            <form class="form-horizontal">
                    <div class="form-group">
                        <label for="firstName" class="col-sm-2 control-label">First Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="firstName" placeholder="First Name">
                        </div>
                        <div class="col-sm-4 control-label">
                            <a class="edit" href="javascript:void(0)" title="edit">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a class="clone" href="javascript:void(0)" title="clone">
                                <i class="glyphicon glyphicon-plus"></i>
                            </a>

                            <a class="remove" href="javascript:void(0)" title="remove">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                            <a class="reorder" href="javascript:void(0)" title="reorder">
                                <i class="glyphicon glyphicon-align-justify"></i>
                            </a>
                        </div>
                    </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-2 control-label">Last Name:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                    </div>
                    <div class="col-sm-4 control-label">
                        <a class="edit" href="javascript:void(0)" title="edit">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a class="clone" href="javascript:void(0)" title="clone">
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>

                        <a class="remove" href="javascript:void(0)" title="remove">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                        <a class="reorder" href="javascript:void(0)" title="reorder">
                            <i class="glyphicon glyphicon-align-justify"></i>
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dob" class="col-sm-2 control-label">Date of Birth:</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" id="dob">
                    </div>
                    <div class="col-sm-4 control-label">
                        <a class="edit" href="javascript:void(0)" title="edit">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a class="clone" href="javascript:void(0)" title="clone">
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>

                        <a class="remove" href="javascript:void(0)" title="remove">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                        <a class="reorder" href="javascript:void(0)" title="reorder">
                            <i class="glyphicon glyphicon-align-justify"></i>
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Gender:</label>
                    <div class="col-sm-6">
                        <select class="form-control">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                    <div class="col-sm-4 control-label">
                        <a class="edit" href="javascript:void(0)" title="edit">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a class="clone" href="javascript:void(0)" title="clone">
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>

                        <a class="remove" href="javascript:void(0)" title="remove">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                        <a class="reorder" href="javascript:void(0)" title="reorder">
                            <i class="glyphicon glyphicon-align-justify"></i>
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label">Roles:</label>
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="admin">
                                Admin
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="student" > Student
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="user" > User
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 control-label">
                        <a class="edit" href="javascript:void(0)" title="edit">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a class="clone" href="javascript:void(0)" title="clone">
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>

                        <a class="remove" href="javascript:void(0)" title="remove">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                        <a class="reorder" href="javascript:void(0)" title="reorder">
                            <i class="glyphicon glyphicon-align-justify"></i>
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label">License Agreement:</label>
                    <div class="col-sm-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="license" id = "hasLicense"value="yes">Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="license" id="noLicense" value="no" >No
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-4 control-label">
                        <a class="edit" href="javascript:void(0)" title="edit">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a class="clone" href="javascript:void(0)" title="clone">
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>

                        <a class="remove" href="javascript:void(0)" title="remove">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                        <a class="reorder" href="javascript:void(0)" title="reorder">
                            <i class="glyphicon glyphicon-align-justify"></i>
                        </a>
                    </div>
                </div>
                <hr style="height: 3px">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Add New Field:</label>
                    <div class="col-sm-6">
                        <select class="form-control">
                            <option>Single Line Text</option>
                            <option>Date</option>
                            <option>Dropdown</option>
                            <option>Checkboxes</option>
                            <option>Radio Buttons</option>
                            <option>Paragraph Text Field</option>
                        </select>
                    </div>
                    <div class="col-sm-4 control-label">
                        <a class="clone" href="javascript:void(0)" title="clone">
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
