
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 main">
            <h1 class="page-header"></h1>
            <br>
            <h2 class="sub-header">All Trips</h2>

            <div class="table-responsive ">
                <table class="table table-striped table-bordered">
                    <thead>

                    <tr>
                        <th>
                            <a ng-click="sortType = 'traveller'; sortReverse = !sortReverse">
                                Traveller
                                <span ng-show="sortType == 'traveller' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-show="sortType == 'traveller' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                        </th>
                        <!--<th><i class="glyphicon glyphicon-sort"></i>  Tripname</th>-->
                        <th>
                            <a ng-click="sortType = 'guide'; sortReverse = !sortReverse">
                                Guide
                                <span ng-show="sortType == 'guide' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-show="sortType == 'guide' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="sortType = 'startDate'; sortReverse = !sortReverse">
                                Start Date
                                <span ng-show="sortType == 'startDate' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-show="sortType == 'startDate' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                        </th>

                        <th>
                            <a ng-click="sortType = 'endDate'; sortReverse = !sortReverse">
                                End Date
                                <span ng-show="sortType == 'endDate' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-show="sortType == 'endDate' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                        </th>

                        <th>  City</th>
                        <th>  State</th>
                        <th>  Total Visitors</th>
                        <th>  Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input ng-model = "newTrip.traveller" class="form-control " type="text" placeholder="Traveller"></td>
                        <td><input ng-model = "newTrip.guide" class="form-control " type="text" placeholder="Guide"></td>
                        <td><input ng-model = "newTrip.startDate" class="form-control " type="date"></td>
                        <td><input ng-model = "newTrip.endDate" class="form-control " type="date"></td>
                        <td><input ng-model = "newTrip.city" class="form-control " type="text" placeholder="City"></td>
                        <td><input ng-model = "newTrip.state" class="form-control " type="text" placeholder="State"></td>
                        <td><input ng-model = "newTrip.totalPeople" class="form-control " type="text" placeholder="1"></td>
                        <td>
                            <a class="add btn btn-primary btn-sm" ng-click = "addTrip(newTrip)" title="add">
                                <i class="glyphicon glyphicon-plus"></i>
                            </a>
                            <a class="update btn btn-success btn-sm" ng-click = "updateTrip(newTrip)" title="update">
                                <i class="glyphicon glyphicon-ok"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-repeat = "trip in trips | orderBy:sortType:sortReverse ">
                        <td>{{trip.traveller}}</td>
                        <td> {{trip.guide}}</td>
                        <td> {{trip.startDate}}</td>
                        <td> {{trip.endDate}}</td>
                        <td> {{trip.city}}</td>
                        <td> {{trip.state}}</td>
                        <td> {{trip.totalPeople}}</td>
                        <td>
                            <a class="remove btn btn-danger btn-sm" ng-click = "deleteTrip(trip)" title="remove">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                            <a class="edit btn btn-warning btn-sm" ng-click = "selectTrip(trip)" title="edit">
                                <i class="glyphicon glyphicon-cog"></i>
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

